body {
	background: #E8E8E8;
	margin-bottom: 30px;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-mid {
	text-align: center;
}
.btn-wide {
	width: 100%;
}
.brd {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #D9D9D9;
	margin-top: 60px;
	background: #E1E1E1;
}
.title-spacing {
	padding: 10px 0 25px;
}
.spacing-top-15 {
	padding-top: 15px;
}
.push-right-5 {
	margin-right: 5px;
}
.nav-spacing {
	margin-top: 80px;
}
.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
    opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
    opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
    opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
    opacity: 0;
}
.datepicker {
	background: #FFF;
}
.table-bg {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #FFF;
}